@import url("https://unpkg.com/modern-css-reset/dist/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --pagination-item-gap: 0.5rem;
  --pagination-item-size: 2.25rem;
}

body,
html {
  font-family: "Roboto", sans-serif;
}

#app {
  padding: 1rem;
}

.card {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding: 1rem;
}

.pagination {
  align-items: center;
  display: flex;
  user-select: none;
}

.pagination-pick {
  margin-left: 1rem;
}

.pagination-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item {
  border: 1px solid lightgray;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--pagination-item-size);
  margin-right: var(--pagination-item-gap);
  width: var(--pagination-item-size);
}

.pagination-item:last-of-type {
  margin-right: 0;
}

.pagination-item--active {
  background-color: lightgray;
}

.pagination-item[data-first] span,
.pagination-item[data-last] span,
.pagination-item[data-next] span,
.pagination-item[data-prev] span {
  font-size: 1.5rem;
  margin-top: -0.25rem;
}